name: Release Obsidian plugin

on:
  push:
    tags:
      - "*"
env:
  PLUGIN_NAME: obsidian-latex-math

jobs:
  run-tests:
    uses: ./.github/workflows/test.yml

  version-match-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
    
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      
      - name: Check Version
        run: |
          python version-check.py "${{github.ref_name}}"

  sympy-client-build:
    runs-on: ${{ matrix.os.os_name }}
    strategy:
      matrix:
        os:
          - os_name: windows-latest
            rel_name: win
          - os_name: macos-latest
            rel_name: macos
          - os_name: ubuntu-latest
            rel_name: linux

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      
      - name: Install Pip Dependencies
        shell: bash
        id: install-pip-dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate || . .venv/Scripts/activate
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt

      - name: Build Executable
        id: build-executable
        shell: bash
        run: | 
          source .venv/bin/activate || . .venv/Scripts/activate
            pyinstaller \
            --onefile \
            --paths ./sympy-client \
            --collect-data sympy \
            --add-data "./sympy-client/sympy_client/grammar/greek_symbols.lark:sympy_client/grammar" \
            --add-data "./sympy-client/sympy_client/grammar/latex_math_grammar.lark:sympy_client/grammar" \
            --add-data "./sympy-client/sympy_client/ggb_plot/geogebra.xml:sympy_client/ggb_plot" \
            --name SympyClient-${{ matrix.os.rel_name }} \
            sympy-client/SympyClient.py
      - name: Rename Executable
        id: rename-executable
        shell: bash
        run: |
          ls
          mv ./dist/SympyClient-${{ matrix.os.rel_name }}.* ./dist/SympyClient-${{ matrix.os.rel_name }}.bin

      - name: Upload Executable
        uses: actions/upload-artifact@v4
        with:
          name: SympyClient-${{ matrix.os.rel_name }}
          path: |
            ./dist/SympyClient-${{ matrix.os.rel_name }}.bin

  plugin-build:
    runs-on: ubuntu-latest
    needs: [ run-tests, sympy-client-build, version-match-check ]
    if: startsWith(github.ref, 'refs/tags/')

    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      
      - name: Download Sympy Clients
        uses: actions/download-artifact@v4
        with:
          pattern: SympyClient-*
          path: ./bundle-bin

      - name: Build Plugin
        run: |
          npm install
          npm run build

      - name: Create Release With Assets
        id: create-release-with-assets
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: |
            # Release ${{ github.ref_name}}
            ## Usage

            See [README](README.md) for usage.
          draft: true
          prerelease: false
          generate_release_notes: true
          files: |
            ./bundle-bin/*
            main.js
            manifest.json
            styles.css
